<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/c3/c3.css' />
    <script src="https://use.fontawesome.com/a7154541be.js"></script>
    <script src="/jquery/jquery.js" type="text/javascript"></script>
    <script src="/moment/moment.js" type="text/javascript"></script>
    <script src="/d3/d3.js" type="text/javascript"></script>
    <script src="/c3/c3.js" type="text/javascript"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha14/js/tempusdominus-bootstrap-4.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha14/css/tempusdominus-bootstrap-4.min.css" /> 
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Campsite Hot or Not</title>
    <style>
    #map {
      height: 100%;
    }
    html, body {
      height: 90%;
      width: 90%;
      margin: 0 auto;
      padding: 0;
    }
      </style>
  </head>
  <body>
    {{{body}}}
  <script src="/scripts/scripts.js" type="text/javascript"></script>
  <script src="/markerclusterer/src/markerclusterer.js" type="text/javascript"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCm-7rpg6sIKbr4sr7n7MOGpsIf1lUepeA&callback=initMap"></script>
  </body>
</html>
